{
    "openapi": "3.0.0",
    "info": {
      "title": "RODiT Authentication API",
      "version": "1.0.0",
      "description": "# API using Discernible Authentication system\n\n## Service Description\nThe RODiT Authentication API provides secure authentication services using the Discernible Authentication system. This API enables applications to implement robust user authentication, session management, and access control using RODiT's cryptographic identity verification.\n\n## Key Features\n- Secure user authentication via RODiT credentials\n- Session management and token-based authorization\n- User identity verification\n- Access control for protected resources\n- Metrics and monitoring capabilities\n\n## Data Handling and Privacy\nAll user data is handled in accordance with our privacy policy. We implement industry-standard encryption for data in transit and at rest. Personal information is processed only for the purposes of authentication and is not shared with third parties without explicit consent.\n\nWe comply with applicable data protection regulations including GDPR and CCPA. In the event of a data breach, we will notify affected users within 72 hours of discovery.\n      ",
      "termsOfService": "https://api.discernible.io/terms",
      "contact": {
        "name": "Discernible Inc.",
        "url": "https://api.discernible.io/home.js",
        "email": "support@rodit-tech.com"
      },
      "license": {
        "name": "Proprietary",
        "url": "https://api.discernible.io/license"
      },
      "x-api-id": "rodit-auth-api-v1"
    },
    "servers": [
      {
        "url": "https://api.discernible.io:9443",
        "description": "RODiT API Server"
      }
    ],
    "externalDocs": {
      "description": "Additional API Documentation",
      "url": "https://docs.rodit-tech.com"
    },
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT",
          "description": "JWT token obtained after successful authentication via RODiT credentials"
        }
      },
      "schemas": {
        "Error": {
          "type": "object",
          "required": ["error", "requestId"],
          "properties": {
            "error": {
              "type": "string",
              "description": "Error message describing what went wrong"
            },
            "requestId": {
              "type": "string",
              "format": "ulid",
              "description": "Unique request identifier for tracking"
            },
            "details": {
              "type": "object",
              "description": "Additional error details (development mode only)"
            }
          }
        },
        "RequestResponse": {
          "type": "object",
          "required": ["requestId"],
          "properties": {
            "requestId": {
              "type": "string",
              "format": "ulid",
              "description": "Unique request identifier"
            }
          }
        }
      }
    },
    "x-terms-and-conditions": {
      "usage-rights": "This API is provided for use by authorized clients only. Usage rights are granted upon acceptance of the terms and conditions.",
      "intellectual-property": "All intellectual property rights in the API, including but not limited to copyright, patents, and trademarks, are owned by Discernible Inc.",
      "liability": "Discernible Inc. shall not be liable for any direct, indirect, incidental, special, or consequential damages resulting from the use or inability to use the API.",
      "termination": "Discernible Inc. reserves the right to terminate API access for any user who violates these terms and conditions."
    },
    "x-subscription-plans": {
      "free": {
        "description": "Limited access for development and testing",
        "rate-limits": "100 requests per day",
        "features": [
          "Basic authentication",
          "Limited API access"
        ]
      },
      "basic": {
        "description": "Standard access for small applications",
        "rate-limits": "1000 requests per day",
        "features": [
          "Full authentication features",
          "Standard support"
        ],
        "price": "$49/month"
      },
      "premium": {
        "description": "Enhanced access for enterprise applications",
        "rate-limits": "10000 requests per day",
        "features": [
          "Full authentication features",
          "Priority support",
          "Advanced analytics"
        ],
        "price": "$199/month"
      }
    },
    "x-rate-limits": {
      "default": {
        "rate": "100 requests per 15 minutes",
        "burst": "150 requests"
      },
      "premium": {
        "rate": "1000 requests per 15 minutes",
        "burst": "1500 requests"
      }
    },
    "x-sla": {
      "uptime": "99.9% guaranteed uptime for premium subscribers",
      "response-time": "Average response time under 200ms",
      "support": {
        "standard": "24-hour response time",
        "premium": "4-hour response time"
      }
    },
    "x-versioning": {
      "current": "v1.0.0",
      "supported": [
        "v1.0.0"
      ],
      "deprecation-policy": "APIs are supported for at least 12 months after deprecation notice"
    },
    "x-monitoring": {
      "metrics": "Available via /api/metrics endpoint for authenticated users",
      "status": "Service status available at https://status.rodit-tech.com"
    },
    "x-compliance": {
      "gdpr": "Compliant with EU General Data Protection Regulation",
      "ccpa": "Compliant with California Consumer Privacy Act",
      "security": "Regular security audits and penetration testing"
    },
    "paths": {
      "/": {
        "get": {
          "summary": "API Welcome and Health Check",
          "description": "Returns welcome message with available API endpoints and service status.\nThis endpoint can be used for health checks and service discovery.",
          "tags": ["System"],
          "responses": {
            "200": {
              "description": "Welcome message with endpoint information",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Welcome to RODiT Authentication API"
                      },
                      "endpoints": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "version": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string",
                        "example": "healthy"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/api/home": {
        "get": {
          "summary": "Homepage endpoint",
          "description": "Returns a simple homepage message",
          "tags": ["System"],
          "responses": {
            "200": {
              "description": "Homepage message",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string",
                    "example": "This is the homepage request"
                  }
                }
              }
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/api/logout": {
        "post": {
          "summary": "User logout",
          "description": "Invalidates the current user session and JWT token.\nAfter logout, the token will no longer be valid for authenticated requests.",
          "tags": ["Authentication"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Logout successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Logout successful"
                      },
                      "requestId": {
                        "type": "string",
                        "format": "ulid"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Authentication required",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "example": "Authentication required"
                      },
                      "requestId": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error"
            }
          }
        }
      },
      "/api/token/claims": {
        "get": {
          "summary": "Inspect current JWT token claims",
          "description": "Returns the authenticated user's JWT claims as parsed and validated by the SDK middleware.\nUseful for debugging authentication issues and understanding token contents.",
          "tags": ["Authentication", "Debug"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Current user claims from JWT token",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "requestId": {
                        "type": "string",
                        "format": "ulid"
                      },
                      "user": {
                        "type": "object",
                        "description": "Decoded JWT claims",
                        "properties": {
                          "sub": {
                            "type": "string",
                            "description": "Subject (user ID)"
                          },
                          "aud": {
                            "type": "string",
                            "description": "Audience"
                          },
                          "iss": {
                            "type": "string",
                            "description": "Issuer"
                          },
                          "exp": {
                            "type": "integer",
                            "description": "Expiration timestamp"
                          },
                          "iat": {
                            "type": "integer",
                            "description": "Issued at timestamp"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Authentication required or token invalid",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string"
                      },
                      "requestId": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/login": {
        "post": {
          "summary": "User login",
          "description": "Authenticate using RODiT credentials",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "roditid",
                    "roditid_base64url_signature"
                  ],
                  "properties": {
                    "roditid": {
                      "type": "string",
                      "description": "RODiT ID"
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Current timestamp (optional)"
                    },
                    "roditid_base64url_signature": {
                      "type": "string",
                      "description": "Base64URL signature"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Login successful"
            },
            "401": {
              "description": "Authentication failed"
            }
          }
        }
      },
      "/api/mcp/resources": {
        "get": {
          "summary": "List available MCP resources",
          "description": "Returns a list of resources available through the MCP interface",
          "tags": [
            "MCP"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "limit",
              "schema": {
                "type": "integer"
              },
              "description": "Maximum number of resources to return"
            },
            {
              "in": "query",
              "name": "cursor",
              "schema": {
                "type": "string"
              },
              "description": "Cursor for pagination"
            }
          ],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "List of available resources with pagination info"
            },
            "401": {
              "description": "Unauthorized"
            }
          }
        }
      },
      "/api/mcp/resource/{uri}": {
        "get": {
          "summary": "Get a specific MCP resource",
          "description": "Returns the content of a specific resource",
          "tags": [
            "MCP"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "uri",
              "schema": {
                "type": "string"
              },
              "required": true,
              "description": "URI of the resource to retrieve"
            }
          ],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Resource content"
            },
            "401": {
              "description": "Unauthorized"
            },
            "404": {
              "description": "Resource not found"
            }
          }
        }
      },
      "/api/mcp/schema": {
        "get": {
          "summary": "Get MCP schema",
          "description": "Returns the schema for the MCP interface",
          "tags": [
            "MCP"
          ],
          "responses": {
            "200": {
              "description": "MCP schema"
            }
          }
        }
      },
      "/api/signclient": {
        "post": {
          "summary": "Sign client RODiT token",
          "description": "Creates and signs a new client RODiT token with specified permissions",
          "tags": ["Authentication"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["tobesignedValues", "mintingfee", "mintingfeeaccount"],
                  "properties": {
                    "tobesignedValues": {
                      "type": "object",
                      "description": "Values to be signed in the token"
                    },
                    "mintingfee": {
                      "type": "string",
                      "description": "Fee for minting the token"
                    },
                    "mintingfeeaccount": {
                      "type": "string",
                      "description": "Account to receive the minting fee"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Token created successfully"
            },
            "400": {
              "description": "Invalid request"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/api/echo": {
        "post": {
          "summary": "Echo service",
          "description": "Echoes back the provided message exactly as received. Only application/json is accepted. Input may be provided in one of: message, echo, data, or text.",
          "tags": ["Utilities"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "description": "Message to echo back" },
                    "echo": { "type": "string", "description": "Echo string (alternative input field)" },
                    "data": { "type": "string", "description": "Data string (alternative input field)" },
                    "text": { "type": "string", "description": "Text string (alternative input field)" }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Message echoed successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": { "type": "string" },
                          "input": { "type": "string" },
                          "echo": { "type": "string" }
                        }
                      },
                      "requestId": { "type": "string", "format": "ulid" }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input"
            },
            "401": {
              "description": "Authentication required"
            }
          }
        },
        "get": {
          "summary": "Echo endpoint info",
          "description": "Returns endpoint usage information. Protected endpoint.",
          "tags": ["Utilities"],
          "security": [ { "bearerAuth": [] } ],
          "responses": {
            "200": {
              "description": "Endpoint usage information",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": { "type": "string" },
                      "usage": { "type": "string" },
                      "requestId": { "type": "string", "format": "ulid" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/cruda/create": {
        "post": {
          "summary": "Create comment",
          "description": "Creates a new comment",
          "tags": ["CRUDA"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["comment"],
                  "properties": {
                    "comment": {
                      "type": "string",
                      "description": "Comment text"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Comment created successfully"
            },
            "400": {
              "description": "Invalid request"
            },
            "401": {
              "description": "Authentication required"
            }
          }
        }
      },
      "/api/cruda/list": {
        "post": {
          "summary": "List all comments",
          "description": "Retrieves all comments",
          "tags": ["CRUDA"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Comments retrieved successfully"
            },
            "401": {
              "description": "Authentication required"
            }
          }
        },
        "get": {
          "summary": "List all comments (GET)",
          "description": "Retrieves all comments via GET",
          "tags": ["CRUDA"],
          "security": [ { "bearerAuth": [] } ],
          "responses": {
            "200": { "description": "Comments retrieved successfully" },
            "401": { "description": "Authentication required" }
          }
        }
      },
      "/api/cruda/read": {
        "post": {
          "summary": "Read specific comment",
          "description": "Retrieves a specific comment by ID",
          "tags": ["CRUDA"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id"],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Comment ID"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Comment retrieved successfully"
            },
            "404": {
              "description": "Comment not found"
            },
            "401": {
              "description": "Authentication required"
            }
          }
        }
      },
      "/api/cruda/read/{id}": {
        "get": {
          "summary": "Read specific comment (by path param)",
          "description": "Retrieves a specific comment by ID",
          "tags": ["CRUDA"],
          "security": [ { "bearerAuth": [] } ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "schema": { "type": "integer" },
              "required": true,
              "description": "Comment ID"
            }
          ],
          "responses": {
            "200": { "description": "Comment retrieved successfully" },
            "404": { "description": "Comment not found" },
            "401": { "description": "Authentication required" }
          }
        }
      },
      "/api/cruda/update": {
        "post": {
          "summary": "Update comment",
          "description": "Updates an existing comment",
          "tags": ["CRUDA"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id"],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Comment ID"
                    },
                    "comment": {
                      "type": "string",
                      "description": "Updated comment text"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Comment updated successfully"
            },
            "404": {
              "description": "Comment not found"
            },
            "401": {
              "description": "Authentication required"
            }
          }
        },
        "put": {
          "summary": "Update comment (PUT)",
          "description": "Updates an existing comment via PUT",
          "tags": ["CRUDA"],
          "security": [ { "bearerAuth": [] } ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id", "comment"],
                  "properties": {
                    "id": { "type": "integer", "description": "Comment ID" },
                    "comment": { "type": "string", "description": "Updated comment text" }
                  }
                }
              }
            }
          },
          "responses": {
            "200": { "description": "Comment updated successfully" },
            "404": { "description": "Comment not found" },
            "401": { "description": "Authentication required" }
          }
        }
      },
      "/api/cruda/destroy": {
        "post": {
          "summary": "Delete comment",
          "description": "Deletes an existing comment",
          "tags": ["CRUDA"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id"],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Comment ID to delete"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Comment deleted successfully"
            },
            "404": {
              "description": "Comment not found"
            },
            "401": {
              "description": "Authentication required"
            }
          }
        },
        "delete": {
          "summary": "Delete comment (DELETE)",
          "description": "Deletes an existing comment via DELETE",
          "tags": ["CRUDA"],
          "security": [ { "bearerAuth": [] } ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id"],
                  "properties": { "id": { "type": "integer", "description": "Comment ID to delete" } }
                }
              }
            }
          },
          "responses": {
            "200": { "description": "Comment deleted successfully" },
            "404": { "description": "Comment not found" },
            "401": { "description": "Authentication required" }
          }
        }
      },
      "/api/sessions/login": {
        "post": {
          "summary": "Session login",
          "description": "Create a new user session",
          "tags": ["Sessions"],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["roditid", "roditid_base64url_signature"],
                  "properties": {
                    "roditid": {
                      "type": "string",
                      "description": "RODiT ID"
                    },
                    "roditid_base64url_signature": {
                      "type": "string",
                      "description": "Base64URL signature"
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Current timestamp (optional)"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Login successful"
            },
            "401": {
              "description": "Authentication failed"
            }
          }
        }
      },
      "/api/sessions/logout": {
        "post": {
          "summary": "Session logout",
          "description": "End current user session",
          "tags": ["Sessions"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Logout successful"
            },
            "401": {
              "description": "Authentication required"
            }
          }
        }
      },
      "/api/sessions/list_all": {
        "get": {
          "summary": "List all sessions",
          "description": "Get information about all active sessions (admin only)",
          "tags": ["Sessions"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Sessions retrieved successfully"
            },
            "401": {
              "description": "Authentication required"
            },
            "403": {
              "description": "Permission denied"
            }
          }
        }
      },
      "/api/sessions/close": {
        "post": {
          "summary": "Close specific session",
          "description": "Force terminate a specific session (admin only)",
          "tags": ["Sessions"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["sessionId"],
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "ID of session to terminate"
                    },
                    "reason": {
                      "type": "string",
                      "description": "Reason for termination"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Session terminated successfully"
            },
            "404": {
              "description": "Session not found"
            },
            "401": {
              "description": "Authentication required"
            },
            "403": {
              "description": "Permission denied"
            }
          }
        }
      },
      "/api/sessions/cleanup": {
        "post": {
          "summary": "Cleanup expired sessions",
          "description": "Run manual cleanup of expired sessions (admin only)",
          "tags": ["Sessions"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Cleanup completed successfully"
            },
            "401": {
              "description": "Authentication required"
            },
            "403": {
              "description": "Permission denied"
            }
          }
        }
      },
      "/api/metrics": {
        "get": {
          "summary": "Get performance metrics",
          "description": "Retrieve current performance metrics",
          "tags": ["Metrics"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Metrics retrieved successfully"
            },
            "401": {
              "description": "Authentication required"
            }
          }
        }
      },
      "/api/metrics/system": {
        "get": {
          "summary": "Get system metrics",
          "description": "Retrieve system resource metrics (CPU, memory, etc.)",
          "tags": ["Metrics"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "System metrics retrieved successfully"
            },
            "401": {
              "description": "Authentication required"
            }
          }
        }
      },
      "/api/metrics/reset": {
        "post": {
          "summary": "Reset metrics",
          "description": "Reset performance metrics counters (admin only)",
          "tags": ["Metrics"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Metrics reset successfully"
            },
            "401": {
              "description": "Authentication required"
            },
            "403": {
              "description": "Permission denied - admin required"
            }
          }
        }
      }
    },
    "tags": [
      {
        "name": "System",
        "description": "System health and information endpoints"
      },
      {
        "name": "Authentication", 
        "description": "User authentication and session management"
      },
      {
        "name": "RODiT Configuration",
        "description": "RODiT configuration and metadata endpoints"
      },
      {
        "name": "Debug",
        "description": "Development and debugging utilities"
      },
      {
        "name": "MCP",
        "description": "Model Context Protocol interface"
      },
      {
        "name": "Utilities",
        "description": "Utility services and tools"
      },
      {
        "name": "CRUDA",
        "description": "Create, Read, Update, Delete, and Audit operations"
      },
      {
        "name": "Sessions",
        "description": "Session management and administration"
      },
      {
        "name": "Metrics",
        "description": "Performance monitoring and system metrics"
      }
    ]
  }